<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <title>Home</title>
</head>
<body>
    <div class="bodyContainer">
        <div class="homeContainer">
            <h1 class="homeTitle">Welcome to My Concerts</h1>
            <h2 class="homeSubtitle">Let Your Talent Shine</h2>
            <p class="homePhrase">Join. Host. Share.</p>
            <div class="browseLinkContainer">
                <a class="browseLink" href="/concerts">Browse</a>
            </div>
            <div class="homeButtons">
                <a href="/login">Login</a>
                <a href="/register">Join</a>
            </div>
        </div>
    </div>
</body>
</html>