<% layout('layout/boilerplate') %>
<div class="userRegister">
    <div class="registerBanner">
    </div>
    <div class="loginFormContainer">
        <h1 class="registerHeader">Register</h1>
        <form action="/register" method="POST" class="loginForm validation-required" novalidate>
            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" id="username" name="username" required></input>
                <div class="invalid-feedback">Please enter a username</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="email" id="email" name="email" required></input>
                <div class="invalid-feedback">Please enter a valid email</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password" required></input>
                <div class="invalid-feedback">Please enter a password</div>
            </div>
            <button class="btnRegister">Register</button>
        </div>
    </div>
</form>