<% layout("layout/boilerplate") %>
<h1>Concert: <%= concert.title %></h1>
<footer>
    <a href="/concerts/<%= concert._id %>/edit">Edit</a> - 
    <a href="/concerts">Go Back</a>
    <form action="/concerts/<%= concert._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</footer>