<% layout("layout/boilerplate") %>
<div class="row editContainer">
    <h1 class="text-center">Edit Photo</h1>
    <div class="col-6 offset-3">
        <img src="<%= concert.image.thumbnail %>" class="card-img-top img-thumbnail mt-3" alt="">
        <form enctype="multipart/form-data" action="/concerts/<%= concert._id %>?_method=PATCH" method="POST" novalidate>
            <div class="form-file mt-3">
                <label class="form-label" for="imageUploader">Choose image</label>
                <input type="file" class="form-control" name="concert[image]" id="imageUploader" />
            </div>
            <div class="addEditButtons">
                <div>
                    <button>Update Image</button>
                </div>
                <div>
                    <a href="/concerts/<%= concert._id %>"><div>Go Back</div></a>
                </div>
            </div>
        </form>
    </div>
</div>