<% layout("layout/boilerplate") %>
<form action="/concerts" method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="concert[title]">
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" id="location" name="concert[location]">
    </div>
    <button>Add Concert</button>
</form>
<a href="/concerts">Go Back</a>